/src/Google/credentials.json
/src/Google/token.json

/src/database/firebase_creds.json
/src/token.json

/.venv
/.vscode
/.idea

/src/__pycache__
src/Google/__pycache__/__init__.cpython-312.pyc
src/Google/__pycache__/sheets.cpython-312.pyc
src/database/__pycache__/__init__.cpython-312.pyc
token.json
